@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  background-color: #13171c;
  scroll-behavior: smooth;
}

@layer components {
  h1, h2, p, li, time {
    @apply text-platinum;
  }
  .text-highlighted, strong {
    @apply text-lightAzure font-semibold;
  }
}
